<h1>AdditionEquations#index</h1>
<% @addition_equations.each do |addition_equation| %>
  <%= addition_equation.operand1 %> + <%= addition_equation.operand2 %> = <%= addition_equation.result %>
<% end %>
